<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <div class="header">
      <a href="/">
        <img src="/images/LibLogo.png" alt="Library Logo" class="logo-img"
      /></a>
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search..." />
        <button class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </head>

  <body>
    <h1 class="header-title">Home</h1>

    <div class="container">
      <div class="sidebar">
        <ul>
          <li>
            <a href="/index"
              ><i class="bi bi-house-heart-fill"></i>&nbsp; Home</a
            >
          </li>
          <li>
            <a href="/wishlist"
              ><i class="bi bi-star-fill"></i>&nbsp; Wishlist</a
            >
          </li>
          <li><i class="bi bi-file-plus-fill"></i>&nbsp; Reservation</li>
          <li><i class="bi bi-gear-fill"></i>&nbsp; Settings</li>
          <li><i class="bi bi-door-open-fill"></i>&nbsp; Log out</li>
        </ul>
      </div>
      <div class="main-content">
        <div class="recommendation">
          <h2>Recommended</h2>
          <div style="overflow-x: scroll">
            <div class="recommendation-books">
              <div>
                <% recommendations.forEach((book) => { %>
                <div class="book">
                  <div class="book-img">
                    <img
                      src="<%= book.image %>"
                      alt="The Psychology Of Money"
                    />
                  </div>
                  <h3><%= book.name %></h3>
                  <p><%= book.author %></p>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="categories">
          <h2>Categories</h2>
          <div class="categories-buttons">
            <button class="button">All</button>
            <button class="button">Sci-Fi</button>
            <button class="button">Fantasy</button>
            <button class="button">Drama</button>
            <button class="button">Romance</button>
            <button class="button">Business</button>
            <button class="button">Education</button>
            <button class="button">Geography</button>
          </div>
          <div class="categories-books">
            <% recommendations.forEach((book) => { %>
            <div class="book">
              <div class="book-img">
                <img src="<%= book.image %>" alt="The Psychology Of Money" />
              </div>
              <h3><%= book.name %></h3>
              <p><%= book.author %></p>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/databaseAccess.js"></script>
</html>
