<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <%- include('./partials/header'); %>
    <h1 class="header-title">Home</h1>

    <div class="container">
      <%- include('./partials/sidebar'); %>

      <div class="main-content">
        <div class="recommendation">
          <h2>Recommended</h2>
          <div style="overflow-x: scroll">
            <div class="recommendation-books">
              <div>
                <% recommendations.forEach((book) => { %>
                <div class="book">
                  <div class="book-img">
                    <div class="book-wishlist" data-id="<%= book.name %>">
                      <i class="bi bi-star-fill" style="color: black"></i>
                    </div>
                    <img
                      src="<%= book.image %>"
                      alt="The Psychology Of Money"
                    />
                  </div>
                  <h3><%= book.name %></h3>
                  <p><%= book.author %></p>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="categories">
          <h2>Categories</h2>
          <div class="categories-buttons">
            <button class="button">All</button>
            <button class="button">Sci-Fi</button>
            <button class="button">Fantasy</button>
            <button class="button">Drama</button>
            <button class="button">Romance</button>
            <button class="button">Business</button>
            <button class="button">Education</button>
            <button class="button">Geography</button>
          </div>
          <div class="categories-books">
            <% books.forEach((book) => { %>
            <div class="book">
              <div class="book-img">
                <div class="book-wishlist">
                  <i class="bi bi-star-fill" style="color: black"></i>
                </div>
                <img src="<%= book.image %>" alt="The Psychology Of Money" />
              </div>
              <h3><%= book.name %></h3>
              <p><%= book.author %></p>
            </div>
            <% }); %>
          </div>
          <button>hello</button>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/databaseAccess.js"></script>
  <script>
    const getWishlist = (element) => {
      const data =
        (localStorage.getItem("wishlist") &&
          JSON.parse(localStorage.getItem("wishlist"))) ||
        {};

      return data[element.dataset.id] || false;
    };

    const setWishlist = (element, isWishlisted) => {
      const data =
        (localStorage.getItem("wishlist") &&
          JSON.parse(localStorage.getItem("wishlist"))) ||
        {};

      data[element.dataset.id] = isWishlisted;
      localStorage.setItem("wishlist", JSON.stringify(data));
    };

    document.querySelectorAll(".book-wishlist").forEach((element) => {
      const star = element.querySelector("i");
      star.style["color"] = getWishlist(element) ? "yellow" : "black";

      element.addEventListener("click", () => {
        const isWishlisted = !getWishlist(element);
        star.style["color"] = isWishlisted ? "yellow" : "black";
        setWishlist(element, isWishlisted);
      });
    });
  </script>
</html>
