<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHU Library</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <div class="header">
      <a href="/">
        <img src="/images/LibLogo.png" alt="Library Logo" class="logo-img"
      /></a>
      <div class="search-container">
        <form action="/search" method="GET">
          <input
            type="text"
            class="search-input"
            name="query"
            placeholder="Search..."
            required
          />
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </head>
  <body>
    <h1 class="header-title">SHU Library</h1>

    <div class="container">
      <%- include('./partials/sidebar'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Description</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="book-container">
        <img style="object-fit: contain;" id="media-page-cover" src="<%= book.image %>" alt="Book Cover">
        <ul id="media-page-list" >
          <li id="media-buttons">
            <button id="borrow-button" onclick="borrowBook()">
              Borrow
            </button>
            <button id="reserve-button" onclick="ReserveBook()">
              Reserve
            </button>
            <button id="edit-button" onclick="toggleEditable()">
              Edit
            </button>
            <i
              id="media-wishlist"
              class="bi bi-star-fill"
              data-id="<%= book.id %>"
              style="cursor: pointer; font-size: x-large; vertical-align: -4px;"
            ></i>
          </li>
          <li class="media-items">
            <h1 id="book-title" contenteditable="false" ><%= book.name %></h1>
          </li>
          <li class="media-items" contenteditable="false">
            <h2 class="makeLine" style="color: #555; font-size: 27px;">Author: </h2>
            <h2 class="makeLine" id="book-author"><%= book.author %></h2>
          </li>
          <li class="media-items" style="font-size: 180%;">
            <h4 id="numAvail" class="makeLine"><%= book.numberAvail %></h4>
            <h4 class="makeLine"> available | </h4>
            <h4 id="numOf" class="makeLine"><%= book.numberOf %></h4>
            <h4 class="makeLine"> total</h4>
          </li>
          <li class="media-items">
            <button id="minus-button" class="bi bi-dash-lg" style="background-color: #03045e;" onclick="addMinus('-')" hidden></button>
            <button id="plus-button" class="bi bi-plus-lg" style="background-color: #03045e;" onclick="addMinus('+')" hidden></button>
          </li>
          <li class="media-items" contenteditable="false">
            <h3 id="book-description"><%= book.description %></h3>
          </li>
          <li class="media-items" style="float: right;">
            <button id="delete-button" onclick="deleteBook()" hidden>Delete Book</button>
            <button id="save-button" onclick="editMedia()" hidden>Update</button>
          </li>
        </ul>
    </div>
    
</body>
<script>
  if("<%= user.role %>" == "c") document.getElementById("edit-button").setAttribute("hidden", "hidden");
  if("<%= book.numberAvail %>" == "0" && <%= book.checkedout %> == 0) {
    document.getElementById("borrow-button").setAttribute("disabled", "disabled");
  }

  console.log(<%= book.checkedout %>);
  console.log(<%= book.reserved %>);
  console.log(<%= book.wishlisted %>);

  if (<%= book.checkedout %>) {
    document.getElementById("borrow-button").textContent = "Checked out";
    document.getElementById("borrow-button").style.backgroundColor = "green";
  }
  if (<%= book.reserved %>) {
    document.getElementById("reserve-button").textContent = "Reserved";
    document.getElementById("reserve-button").style.backgroundColor = "green";
  }
  document.getElementById("media-wishlist").style.color = "black";
  if (<%= book.wishlisted %>) {
    document.getElementById("media-wishlist").style.color = "gold";
  }

  var titleCont = "";
  var authorCont = "";
  var descCont = "";
  var availCont = "";
  var ofCont = "";

  

  document.querySelectorAll("#media-wishlist").forEach((element) => {
    element.addEventListener("click", async () => {
      const request = await fetch("/wishlist", {
        method: "POST",
        body: JSON.stringify({
          mediaId: element.dataset.id,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });
      const json = await request.json();
      element.style["color"] = json.success ? "gold" : "black";
    });
  });

  

  function toggleEditable(edits) {
    var edButton = document.getElementById("edit-button");
    var title = document.getElementById("book-title");
    var author = document.getElementById("book-author");
    var description = document.getElementById("book-description");
    var avail = document.getElementById("numAvail");
    var of = document.getElementById("numOf");

    var toggle = title.contentEditable;
    var outlineToggle = ((toggle == "true") ? "none" : "auto");
    if(toggle == "false") toggle = "true";
    else toggle = "false";
    
    title.contentEditable = toggle;
    author.contentEditable = toggle;
    description.contentEditable = toggle;
    title.style.outline = outlineToggle;
    author.style.outline = outlineToggle;
    description.style.outline = outlineToggle;
    var sButton = document.getElementById("save-button");
    var dButton = document.getElementById("delete-button");
    var mButton = document.getElementById("minus-button");
    var pButton = document.getElementById("plus-button");
    if (sButton.hasAttribute("hidden")) {
      edButton.textContent = "Cancel";
      edButton.style.backgroundColor = "orange";
      sButton.removeAttribute("hidden");
      dButton.removeAttribute("hidden");
      mButton.removeAttribute("hidden");
      pButton.removeAttribute("hidden");

      titleCont = title.textContent;
      authorCont = author.textContent;
      descCont = description.textContent;
      availCont = avail.textContent;
      ofCont = of.textContent;
    }
    else {
      if(edits != true) {
        title.textContent = titleCont;
        author.textContent = authorCont;
        description.textContent = descCont;
        avail.textContent = availCont;
        of.textContent = ofCont;
      }
      

      edButton.textContent = "Edit";
      edButton.style.backgroundColor = "";
      sButton.setAttribute("hidden", "hidden");
      dButton.setAttribute("hidden", "hidden");
      mButton.setAttribute("hidden", "hidden");
      pButton.setAttribute("hidden", "hidden");
    }
  }

  async function deleteBook() {
    if (confirm("Are you sure you want to delete <%= book.name %>") == true) {
      const request = await fetch("/search", {
        method: "POST",
        body: JSON.stringify({
          mediaId: <%= book.id %>,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });
      window.location.href = "/";
    }
  }

  async function editMedia() {
      const request = await fetch("/media", {
      method: "POST",
      body: JSON.stringify({
        name: document.getElementById("book-title").textContent,
        description: document.getElementById("book-description").textContent,
        author: document.getElementById("book-author").textContent,
        numAvail: parseInt(document.getElementById("numAvail").textContent),
        numOf: parseInt(document.getElementById("numOf").textContent),
        mediaID: <%= book.id %>,
      }),
      headers: {
        "Content-Type": "application/json",
      },
      });
      toggleEditable(true);
    }

  async function borrowBook() {
    var borButton = document.getElementById("borrow-button");
    var resButton = document.getElementById("reserve-button");

    if (borButton.textContent.trim() == "Borrow") {
      borButton.textContent = "Checked out";
      borButton.style.backgroundColor = "green";
      if(resButton.textContent.trim() == "Reserved") ReserveBook();
    }
    else {
      borButton.textContent = "Borrow";
      borButton.style.backgroundColor = "";
    }
    const request = await fetch("/checkedout", {
      method: "POST",
      body: JSON.stringify({
        mediaId: <%= book.id %>,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    });
        
    const json = await request.json();
    if (!json.success) {
      element.parentElement.parentElement.remove();
    }
  }

  async function ReserveBook() {
    var resButton = document.getElementById("reserve-button");

    if (resButton.textContent.trim() == "Reserve") {
      resButton.textContent = "Reserved";
      resButton.style.backgroundColor = "green";
    }
    else {
      resButton.textContent = "Reserve";
      resButton.style.backgroundColor = "";
    }
    const request = await fetch("/reservations", {
      method: "POST",
      body: JSON.stringify({
        mediaId: <%= book.id %>,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    });
        
    const json = await request.json();
    if (!json.success) {
      element.parentElement.parentElement.remove();
    }
  }

  function addMinus(operator) {
      var numAvail = document.getElementById("numAvail");
      var numOf = document.getElementById("numOf");
      if(operator == '+') {
        numAvail.textContent = parseInt(numAvail.textContent) + 1;
        numOf.textContent = parseInt(numOf.textContent) + 1;
      }
      else {
        var value = parseInt(numOf.textContent);
        if (value != 0) {
          numOf.textContent = value - 1;
          value = parseInt(numAvail.textContent)
          if (value != 0) numAvail.textContent = value - 1;
        }
      }
    }
</script>
</html>