<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Your Mother</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <div class="header">
      <a href="/">
        <img src="/images/LibLogo.png" alt="Library Logo" class="logo-img"
      /></a>
      <div class="search-container">
        <form action="/search" method="GET">
          <input
            type="text"
            class="search-input"
            name="query"
            placeholder="Search..."
            required
          />
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </head>

  <body>
    <h1 class="header-title">Welcome to Your Mother</h1>

    <div class="container">
      <%- include('./partials/sidebar'); %>

      <div class="main-content">
        <div class="categories">
          <h2>Results</h2>
          <div class="categories-books">
            <% books.forEach((book) => { %>
            <div class="book">
              <div class="book-img">
                <div class="book-wishlist" data-id="<%= book.id %>">
                  <i class="bi bi-star-fill" style="color: black"></i>
                </div>
                <img src="<%= book.image %>" alt="The Psychology Of Money" />
              </div>
              <h3><%= book.name %></h3>
              <p><%= book.author %></p>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.querySelectorAll(".book-wishlist").forEach((element) => {
      const star = element.querySelector("i");

      element.addEventListener("click", async () => {
        const request = await fetch("/wishlist", {
          method: "POST",
          body: JSON.stringify({
            mediaId: element.dataset.id,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        });

        const json = await request.json();
        star.style["color"] = json.success ? "yellow" : "black";
      });
    });
  </script>
</html>
